.container img{
    width: 1170px;
    height: 500px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}
.text{
    position:absolute;
    text-align: center;
    color: white;
    top: 30%;
    left: 0%;
    right: 0%;
    

}
.row{
    text-align: center;
    top: 30%;
    left: 0%;
}
.container{
    position: relative;
}
 #img2{
    width: 1170px;
    height: 300px;
    background: linear-gradient(rgba(0,0,0,0.5));
}
.center{
    position:absolute;
    text-align:center;
    color:white;
    top: 20%;
    left: 0%;
    right: 0%;
}
.container{
    position: relative;
}
#des{
    height:40%;
    width: 30%;
}
#dev{
    height: 40%;
    width: 30%;
}
#pro{
    height: 40%;
    width: 30%;
}
#work3{
    height: 70%;
    width: 70%;
}
#work4{
    height: 70%;
    width: 70%;
}
#work5{
    height: 70%;
    width: 70%;
}
#work6{
    height: 70%;
    width: 70%;
}
#work8{
    height: 70%;
    width: 70%;
}
#work1{
    height: 70%;
    width:70%;
}
#work2{
    height: 70%;
    width: 70%;
}
.overlay{
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
}
.overlay h2{
    position: absolute;
    margin: 0%;
    padding: 0%;
    top: 50%;
    transform: translateY(-50%);
}
#IMG{
    width: 1170px;
    height: 500px;
    background: linear-gradient(rgba(0,0,0,0.5));
 
}
.center2{
    position:absolute;
    text-align:center;
    color:white;
    top: 20%;
    left: 0%;
    right: 0%; 
}
.BTN{
    padding: 10px 20px;
    transition-duration: o.4s;
}
.BTN:hover{
    color: white;
    background-color: black;
}