.container img{
    width: 1170px;
    height: 500px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}
.text{
    position:absolute;
    text-align: center;
    color: white;
    top: 30%;
    left: 0%;
    right: 0%;
    

}
.row{
    text-align: center;
    top: 30%;
    left: 0%;
}
.container{
    position: relative;
}
 #img2{
    width: 1170px;
    height: 300px;
    background: linear-gradient(rgba(0,0,0,0.5));
}
.center{
    position:absolute;
    text-align:center;
    color:white;
    top: 50%;
    left: 0%;
    right: 0%;
}
.container{
    position: relative;
}
#des{
    height:40%;
    width: 30%;
}
#dev{
    height: 40%;
    width: 30%;
}
#pro{
    height: 40%;
    width: 30%;
}