
.container1{
    background:white;
}
 img{
    width: 2000px;
    height: 500px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    margin: 0%;
    padding: 0%;
}
.text{
    position:absolute;
    text-align: center;
    color: white;
    top: 30%;
    left: 0%;
    right: 0%;
    font-family: "Audiowide", sans-serif;

}

.row{
    text-align: center;
    top: 30%;
    left: 0%;
}
.container{
    position: relative;
}
 #img2{
    width: 1170px;
    height: 300px;
    background: linear-gradient(rgba(0,0,0,0.5));
}
.center{
    position:absolute;
    text-align:center;
    color:white;
    top: 20%;
    left: 0%;
    right: 0%;
}
.container{
    position: relative;
}
#des{
    height:40%;
    width: 30%;
}
#dev{
    height: 40%;
    width: 30%;
}
#pro{
    height: 40%;
    width: 30%;
}

#work3{
    transition: .5s ease;
    height: 70%;
    width: 70%;
    color: white;
}
#work4{
    transition: .5s ease;
    height: 70%;
    width: 70%;
    opacity: 1;
}
#work5{
    transition: .5s ease;
    height: 70%;
    width: 70%;
    opacity: 1;
}
#work6{
    transition: .5s ease;
    height: 70%;
    width: 70%;
    opacity: 1;
}
#work6:hover{
    opacity: o.3;
}
#work8{
    transition: .5s ease;
    height: 70%;
    width: 70%;
    opacity: 1;
}
#work1{
    transition: .5s ease;
    height: 70%;
    width:70%;
    opacity: 1;
}
#work2{
    transition: .5s ease;
    height: 70%;
    width: 70%;
    opacity: 1;
}



#IMG{
    width: 1170px;
    height: 500px;
    background: linear-gradient(rgba(0,0,0,0.5));
 
}

.center2{
    position:absolute;
    text-align:center;
    color:white;
    top: 10%;
    left: 0%;
    right: 0%; 
}
.BTN{
    padding: 10px 20px;
    transition-duration: o.4s;
    background-color:lightblue;
}
.BTN:hover{
    background: blue;
    box-shadow: 0 0 5px blue,0 0 25px blue, 0 0 200px blue, 0 0 200px blue;
    
}
img.fa {
    
    height: 50px;
    width: 50px;
    font-size: 50px;
    text-decoration: none;
    margin: 0px;
    border-radius: 50px;
    transform: translate(-5px -5px);
    text-align: center;
    
  }
  .fa:hover {
    opacity: 0.7;
    top: 5px;
    left: 5px;

}

  
  .pp{
      text-align: center;
  }
  
  .overlay{
      position: relative;
      text-align: center;
      color:black;
      font-size: 20px;
      bottom: 0%;
      top: -20%;
      width: 100%;
  transition: .5s ease;
  opacity: 0;
  
  }
  .col-sm-3:hover .overlay{
      opacity: 1;
  }
  .logo{
      border-radius: 55px;
      height: -5%;
      width: -5%;
      text-align: center;
      top: 10%;
      left: 0%;
      right: 0%;
      margin: 0%;
      text-decoration: none;
      position: absolute;
      font-size: 50px;
  }
  .messo{
      background: transparent;
      margin-right: 0rem;
      height: 10rem;
      
      
  }
  .inn{
      background: transparent;
      
  }
  